.site-header {
  border-top: 0px;
}
.row {
  display: flex;
}
.column {
  flex: 50%;
  padding: 10px;

}
::-webkit-scrollbar {
  background-color: #202324;
  color: #aba499;
}
::-webkit-scrollbar-corner {
  background-color: #181a1b;
}
::-webkit-scrollbar-thumb {
  background-color: #454a4d;
}
.post-content h1, .post-content h2, .post-content h3 {
  margin-top: 0px;
}

code {
  white-space: pre;
}

.wrapper {
  max-width: calc(1000px - (30px * 2));
}