---
layout: default
---
<div class="home">

  {{ content }}

  <div class="row">

    <div class="column">
      {%- if site.posts.size > 0 -%}
        <!-- <h2 class="post-list-heading"><a href="/posts">{{ page.list_title | default: "Posts" }}</href></h2> -->
        <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
        <ul class="post-list">
          {%- for post in site.posts-%}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </li>
          {%- endfor -%}
        </ul>

        <h3 class="post-list"><a href="/posts">{{ page.list_title | default: "More Posts" }}</a></h3>

      {%- endif -%}
    </div>

    <div class="column">

      {%- if site.tutorials.size > 0 -%}
        <!-- <h2 class="post-list-heading"><a href="/tutorials">{{ page.list_title | default: "Tutorials" }}</href></h2> -->
        <h2 class="post-list-heading">{{ page.list_title | default: "Tutorials" }}</h2>
        <ul class="post-list">
          {%- for tutorial in site.tutorials reversed -%}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ tutorial.date | date: date_format }}</span>
            <h3>
              <a class="post-link" href="{{ tutorial.url | relative_url }}">
                {{ tutorial.title | escape }}
              </a>
            </h3>
            {%- if site.show_excerpts -%}
              {{ tutorial.excerpt }}
            {%- endif -%}
          </li>
          {%- endfor -%}
        </ul>

        <h3 class="post-list"><a href="/tutorials">{{ page.list_title | default: "More Tutorials" }}</a></h3>

      {%- endif -%}

    </div>

  </div>

</div>
